 
 .container{
  width: 1140px;
  margin: 0 auto;
 }
 
 .main-header__brand{
  display: inline-block;
  vertical-align: middle;
  padding-left: 150px;

}

.main-navigation{
  display: inline;
  float: right;
  padding: 10px;
  padding-right: 150px;
  vertical-align: middle;
}

.navigation-button{
  font-family: Poppins,sans-serif ;  
  cursor: pointer;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 10px;
  color: rgb(231, 50, 209);
  border-color:rgb(231, 50, 209);
  background-color: white;
}


.main-section__community{
  display: block;
  text-align: center;
  padding: 20px;
}

.build{
  display: block;
  font-weight: 700;
  font-size: 50px;
}
.section-paragraf{
 display: block; 
 padding: 20px;
}
.action{
width: 200px ;
height: 50px;
cursor: pointer;
font-size: 15px;
font-weight: 500;
color: white;
border-color: rgb(231, 50, 209);
background-color: rgb(231, 50, 209);
border-radius: 10px;
}

.moskup-img{
  text-align: center;
  padding: 50px;
}

.statistics{
  display: inline block;
  padding-top: 50px;
  text-align: center;
}

.statistics img{
  width: 30px;
  display: inline block;
  float: left;
  padding-bottom: 1px;

}
.statistics-item__number{
  font-size: 80px;
  font-weight: 800;
  margin-top: 1px;
  margin-bottom: 0%;
}

.statistics-item__title{
  margin-top: 1px;
  font-size: 20px;
  font-weight: 500;
}
.statistics-item{
  display: inline-block;
  padding: 80px;
}

.together-section img{
  z-index: 1;
  width: 100%;

}

.together-section div {
  width: 50%;
  float: right;
}

.together-subtitle{
  display: inline-block;
  
  
}

.title{
  display: inline block;

}
.title-paragraf{
  width: 450px;
}
.together-img img{
  width: 600px;

}
@media only screen and (min-width: 375px){
  
  }

